.bestItems {
  padding: 8rem 20rem 4rem 20rem;
}

.bestItems h2 {
  font-size: 2rem;
  margin-bottom: 1.6rem;
}

.itemGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.itemCard {
  width: 28.2rem;
  height: 28.2rem;
  border: 1px solid #dfdfdf;
  border-radius: 1.6rem;
  overflow: hidden;
}

.itemCard img {
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
}

.itemInfo {
  padding: 1.6rem;
}

.itemInfo h3 {
  font-size: 1.4rem;
  margin-bottom: 0.8rem;
}

.itemInfo p {
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: 0.8rem;
}

.itemInfo span {
  font-size: 1.2rem;
  color: #6b7280;
}
