.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20rem;
  background-color: #ffffff;
  border-bottom: 0.1rem solid #dfdfdf;
}

.header-left {
  display: flex;
  align-items: center;
}

.nav-menu-container {
  margin-left: 2.4rem;
}

.login-button {
  background-color: var(--blue);
  color: #ffffff;
  padding: 1.2rem 2.4rem;
  border-radius: 0.8rem;
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 600;
}

.login-button:hover {
  background-color: #1967d6;
}

.login-button:focus {
  background-color: #1251aa;
}

.login-button:disabled {
  background-color: #9ca3af;
  cursor: default;
  pointer-events: none;
}
