:root {
  --blue: #3692ff;
  --header-height: 6.4rem;
}

html,
body {
  height: 100%;
}

body {
  font-family: Arial, sans-serif;
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}
