:root {
  --blue: #3692ff;
  --header-height: 6.4rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.5;
}

button {
  cursor: pointer;
}

.container {
  max-width: 120rem;
  padding: 4rem 2rem;
  margin: 0 auto;
  width: 100%;
}
